.homepage_landing_page{
    background-color: $lightGreen;

    width: 100%;
    height: 100vh;
    padding: 1.875em;
}

@import '../Header/header';
@import '../MobileMenu/mobileMenu';
@import '../MediaQueries/mediaQueriesHeader';