
.button_container{
    height: 34px;
    width: 116px;
    position: relative;
        
    .button{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        font-size: 0.625rem;
        font-weight: $ubuntuBold;

        line-height: 10px;
        color: $lightGreen;
        background-color: $fontColor;
        border-radius: 100px;
        text-decoration: none;

        padding: 1.25em 2.66em;
    }
}