.hero_section{
    .social_media_links{
        width: 15px;
        > div{
            cursor: pointer;
         
            //ANIMATION
            &:last-child{
                animation: socialMediaLinksSlide 1000ms ease-in-out;
            }
            &:nth-child(2){
                animation: socialMediaLinksSlide 800ms ease-in-out;
            }
            &:first-child{
                animation: socialMediaLinksSlide 600ms ease-in-out;
            }
            //ANIMATION

            &:not(:last-child){
                margin-bottom: 20px;
            }

            &:hover{
                > a {
                    > svg{
                        transform: scale(150%);
                    }      
                }
            }
            > a {
                > svg{
                    transition: 200ms ease-in-out;
                    width: 15px;
                    height: 15px;
                }  
            }        
        }
    }
}