.hamburger_button {
    position: absolute;
    z-index: 10;
    width: 2.5em;
    height: fit-content;

    display: flex;
    justify-content: center;
    flex-direction: column;

    cursor: pointer;

    > span {
        height: 4px;
        width: 40px;
        border-radius: 10px;
        background-color: $fontColor;
        transition: 500ms ease-in-out;
        
        
        &:not(:last-child){
            margin-bottom: 6.4px;
           
        }

        &:first-child {
            width: 30px;
            align-self: flex-end;
        }

        &:last-child {
            width: 30px;
            transform: translateY(-1px);
            align-self: flex-start;
        }
    }
}