@import './logo';
@import './hamburgerButton';
@import './pageNumber';


.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    height: 0px;
    width: 78px;
        
    .header_left_side_mobile{
        transform-origin: bottom left;
        transform: rotate(90deg);

        width: calc(768px - 129px);

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}
