.page_number{
    

    h1{
        font-size: 1.5rem;
        font-family: $familyOverpass;
        font-weight: $overpassExtraBold;
        
        > span{
            color: $darkGreen;
        }
    }
}