//Primary Colors

$fontColor: #22241F;
$lightGreen: #B3E140;
$darkGreen: #80A02D;

//Font-family

$familyOverpass: 'Overpass', sans-serif;
$familyUbuntu: 'Ubuntu', sans-serif;

//Font-weight
$overpassLight: 300;
$overpassExtraBold: 800;
$ubuntuBold: 700; 